@charset "utf-8";
/* CSS Document */

body{
	width:100%;
	height:auto;
	margin:auto;
	padding:0;
	font-family:Roboto;
	font-size:13px;
	color:#212020;
	background-color:#edf4ff;
	}
	
	

@font-face{
	font-family:Roboto;
	src:url(../fonts/Roboto-Regular.ttf);
	}
.clearfix{
	clear:both;
}
hr{margin-top:10px; margin-bottom:10px;}
.navbar-inverse {
  background: #fff;
  background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222)); */
  /* background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  /* background-repeat: repeat-x; */
}
.navbar-inverse {
  /* background-color: #222; */
   border: none; 
}	
.navbar-inverse .navbar-nav>li>a {
  color: #9d9d9d;
  padding: 5px;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
   background-color: #ccc; 
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default {
  background-image: none;
  background-repeat: repeat-x;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  background: -webkit-linear-gradient(#5c7126, #799d1c);
  background: -o-linear-gradient(#5c7126, #799d1c);
  background: -moz-linear-gradient(#5c7126, #799d1c);
  background: linear-gradient(#5c7126, #799d1c);
}
#logo {
  /*padding: 0;*/
}
#sign {
  width: 150px;
  height: 35px;
  padding: 7px 15px;
  color: #fff;
  border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  position: relative;
  margin-top: -5px;
  text-shadow: 1px 0px 1px #000;
  box-shadow: 0px 2px 2px 0px #000;
  -moz-box-shadow: 0px 2px 2px 0px #000;
  -webkit-box-shadow: 0px 2px 2px 0px #000;
  -ms-box-shadow: 0px 2px 2px 0px #000;
  background: -webkit-linear-gradient(#00deff, #04a5ba);
  background: -o-linear-gradient(#00deff, #04a5ba);
  background: -moz-linear-gradient(#00deff, #04a5ba);
  background: linear-gradient(#00deff, #04a5ba);
}
.mid-nav {
  margin-top:0%;
}
.navbar-default .navbar-nav>li>a {
  font-family: Roboto !important;
  color: #fff;
  font-size: 14px;
  padding: 14px 15px;
  background: -webkit-linear-gradient(#90be52, #69962c);
  background: -o-linear-gradient(#90be52, #69962c);
  background: -moz-linear-gradient(#90be52, #69962c);
  background: linear-gradient(#90be52, #69962c);
}
.navbar-default .navbar-nav>.active>a {
  background: #313f0d;
  color: #fff;
 
  
 
 
}
.navbar-default .navbar-nav>li>a:hover {
  /* background-color: transparent; */
  background: #90be52;
  color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a{background-image:linear-gradient(to bottom,#73bb32 0,#54941b 100%)}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a:hover{background-image:linear-gradient(to bottom,#73bb32 0,#54941b 100%)}

.logo{float:left; width:155px; margin-top:1%;}

.flag img{margin-top:20%;}
.head p{text-align:center; color:#fff; font-size:16px; margin-top:2%; margin-left:15%;margin-bottom:0px;}
.moad p{display:block; color:#82bb47; font-size:1px;}
.nep{background:#093;padding:2% 3%; border-right:1px solid #000; margin-top:1%;}
.a1{ float:left; margin-right:10px;}
#myCarousel .btn{position:absolute; bottom:10%; right:17%; padding:2% 6%; z-index:9999}
#myCarousel .carousel-caption{display:none;}
#myCarousel.homCar .item img{width:100%; max-height:506px}
#productView .btn-toolbar{padding-left:3px;}
#productDetail > li, .nav-pills > li {float: right;}
#myTabContent{text-align:justify}
#compairTbl td{text-align:center;}
#accordion2, #legalNotice, .justify, #mainCol{text-align:justify}
.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
.navbar{margin-bottom:0px; min-height:0px; border:0px; border-radius:0px; background: -webkit-linear-gradient(#90be52, #69962c);
  background: -o-linear-gradient(#90be52, #69962c);
  background: -moz-linear-gradient(#90be52, #69962c);
  background: linear-gradient(#90be52, #69962c);
}
.navbar-inner {padding-left: 0;padding-right: 0;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color: white;background-color: #90be52;text-shadow: none;}
/*.ban{background:url(../images/ban.jpg);}*/
.ban{background:#035b03;}
.h{border:#ccc solid 1px;margin-top:3%; font-family:Titillium; font-weight:400;}
.h h4{background:#80b834; padding:2%; color:#fff; margin:0;font-family:Titillium; font-weight:400;}
.hh p{font-size:14px; padding-top:2%; color:#036;}
.hh{padding:2%; background:#daecff;}
hr{border:#ccc dotted 0.5px;}
.textt{background:#598e11 !important; color:#fff; font-size:13px;}
.textt p{text-align:center; margin:0px;}
.textt a{
  text-decoration: none;
  color: #fff;
  width: 100%;
  display: block;
  padding: 10%;
  font-size: 18px;
}
.textt a:hover{color:#ccc; text-decoration:underline;}
.textt1{background:#fff; color:#404040; font-size:17px; padding:5%; border:1px #404040 dotted; margin-top:5px; text-align:center;}
.textt1 p{margin:0px;}
.act h3{text-align:center; font-family:Titillium; color:#006699; margin-bottom:2%; font-size:15px;}
.act{}

.nav-tabs{background:#f0f0f0;}
.tab-content{background:#fff;}

/*tab- block*/
.tab-content ul{
      margin: 0;
    padding: 3% 0 0 7%;
}
.tab-content ul li{
  border-bottom: 1px solid #b8e37e;
  width: 97%;
}
.tab-content ul li:last-child{
  border-bottom: none;
}
.tab-content ul li a{
      width: 100%;
    display: block;
    padding: 2%;
    color: black;
    font-size: 14px;
}
.tab-content ul li:hover{
  background: linear-gradient(#90be52, #69962c);
}
.tab-content ul li:hover a{
  text-decoration: none
}


/*impo-links block*/
.impo-links ul{
      margin: 0;
    padding: 1% 0 0 3%;
}
.impo-links ul li{
  border-bottom: 1px solid #b8e37e;
  width: 97%;
}
.impo-links ul li:last-child{
  border-bottom: none;
}
.impo-links ul li a{
      width: 100%;
    display: block;
    padding: 1%;
    color: black;
    font-size: 14px;
}
.impo-links ul li:hover{
  background: linear-gradient(#90be52, #69962c);
}
.impo-links ul li:hover a{
  text-decoration: none
}




.wrapper {
  background: #edf4ff;
  margin:auto;
  padding:0;
}
.job-banner {
  background: #FF6D00;
  border-bottom: 5px solid #000;
}
#icon {
  float: left;
  padding: 8px 0px;
}
#icon2 {
  float: right;
  background: #F2F7FA;
  border-top-left-radius: 55%;
  border-bottom-left-radius: 40%;
  height: 65px;
  width: 55px;
  padding: 5px;
}
.job-pannel {
  background: #fff;
  border: 1px solid #ccc;
  border-bottom: none;
}
.job-box {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.pic {
  float: left;
  padding-right: 15px;
}
.provider {
  text-align: left;
}

.provider a{
	color:#038ea0;
	text-decoration:none;
	}
.provider a:hover{
	text-decoration:underline;
	}
.job{
	
	}
.job ul{
	list-style-image:url(../images/square.png);
	padding-left: 37%;
	}
.job ul li{}
.job ul li a{
	color:#000066;
	}
.job ul li a:hover{
	color:#ff6d00;
	}
.adz {
  border: 1px solid #ccc;
  margin-bottom: 15px;
  padding:0 5% 5% 5%;
  background:#fff;
}

.adz img{padding:4%; border:2px solid #eaeaea;}


.border {
  background: #117ec4;
  padding: 5px 10px;
  text-align: right;
  font-size: 1.4em;
  text-shadow: 1px 1px 2px #000;
}
.border a{
	color:#fff;
	text-decoration:none;
	}
.border a:hover{
  color: #fff;
  text-shadow:none;
}
.border2 {
  background: #0bbed5;
  padding: 5px 10px;
  text-align: center;
  font-size: 1.4em;
  text-shadow: 1px 1px 2px #000;
}
.border2 a{
	color:#fff;
	text-decoration:none;
	}
.border2 a:hover{
  color: #fff;
  text-shadow:none;
}



/*------------------------tab-------------------------*/

.panel-body {
  padding: 15px;
  border: 1px solid #117ec4;
 
  padding-top:0px;
  padding-bottom:0px;
}
.panel-default>.panel-heading {
  background: #F2F7FA;
  /* background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%); */
  /* background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8)); */
  /* background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%); */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  /* background-repeat: repeat-x; */
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.panel-default {
  border: none;
}
.nav-tabs>li{float:left; margin:0px; width: 100%; font-size: 18px}

.nav-tabs>li>a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 0;
}
.panel-default>.panel-heading {
  color: #777;
  background-color: #F2F7FA;
  border-color: #fff;
  font-size: 14px;
}
.adz {
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

.adz h3{
  padding: 2%; text-align: center; background: linear-gradient(#90be52, #69962c)
}

.panel.with-nav-tabs .panel-heading {
  padding: 0px 5px 0 0;
}
.panel.with-nav-tabs .nav-tabs {
  border-bottom: 1px solid #117ec4;
}
.panel.with-nav-tabs .nav-justified{
	margin-bottom: -1px;
}
.job-title {
  color: #404040;
 
 
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
  margin: 5px 0;
}
.job-des {
  border-bottom: 1px dashed #ccc;
  padding: 5px 0;
}
#job-des a{
	color:#ff6d00;
	text-decoration:none;
	}
#job-des a:hover{
	color:#c45300;
	}
#tab1default a{
	color:#505050;
	text-decoration:none;
	}
#tab1default a:hover{
	color:#ff6d00;	
	}


/********************************************************************/
/*** PANEL DEFAULT ***/
.with-nav-tabs.panel-default .nav-tabs > li > a,
.with-nav-tabs.panel-default .nav-tabs > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li > a:focus {
    color: #777;
}
.with-nav-tabs.panel-default .nav-tabs > .open > a, .with-nav-tabs.panel-default .nav-tabs > .open > a:hover, .with-nav-tabs.panel-default .nav-tabs > .open > a:focus, .with-nav-tabs.panel-default .nav-tabs > li > a:hover, .with-nav-tabs.panel-default .nav-tabs > li > a:focus {
  color: #FFF;
  background-color: #1BC9FF;
  border-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.active > a, .with-nav-tabs.panel-default .nav-tabs > li.active > a:hover, .with-nav-tabs.panel-default .nav-tabs > li.active > a:focus {
  color: #5c7126;
  background-color: #fff;
  border-top: 8px solid #117ec4;
  border-left: 1px solid #117ec4;
  border-right: 1px solid #117ec4;
  border-bottom-color: transparent;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f5f5f5;
    border-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #777;   
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ddd;
}
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-default .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #555;
}
/********************************************************************/
/*** PANEL PRIMARY ***/
.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
    color: #fff;
}
.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
	color: #fff;
	background-color: #3071a9;
	border-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
	color: #428bca;
	background-color: #fff;
	border-color: #428bca;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #428bca;
    border-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;   
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #3071a9;
}
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    background-color: #4a9fe9;
}
/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}
/********************************************************************/
/*** PANEL INFO ***/
.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #31708f;   
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #bce8f1;
}
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #31708f;
}
/********************************************************************/
/*** PANEL WARNING ***/
.with-nav-tabs.panel-warning .nav-tabs > li > a,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
}
.with-nav-tabs.panel-warning .nav-tabs > .open > a,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-warning .nav-tabs > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li > a:focus {
	color: #8a6d3b;
	background-color: #faebcc;
	border-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.active > a:focus {
	color: #8a6d3b;
	background-color: #fff;
	border-color: #faebcc;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #8a6d3b; 
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #faebcc;
}
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-warning .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #8a6d3b;
}
/********************************************************************/
/*** PANEL DANGER ***/
.with-nav-tabs.panel-danger .nav-tabs > li > a,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
}
.with-nav-tabs.panel-danger .nav-tabs > .open > a,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-danger .nav-tabs > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li > a:focus {
	color: #a94442;
	background-color: #ebccd1;
	border-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.active > a:focus {
	color: #a94442;
	background-color: #fff;
	border-color: #ebccd1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #f2dede; /* bg color */
    border-color: #ebccd1; /* border color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #a94442; /* normal text color */  
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #ebccd1; /* hover bg color */
}
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-danger .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff; /* active text color */
    background-color: #a94442; /* active bg color */
}

/*--------------------carousel-----------------------*/

.companies {
  margin-top: 3%;
  margin-bottom:3px;
  font-size:18px;
  font-family: Arial, Helvetica, sans-serif;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
 
}

.carousel-inner .item .row{
   height: 350px; overflow: hidden;
}
.carousel-inner .item .row div img{
  width: 100%;
}

.carousel {
  margin-bottom: 0;
  
  
}
/* The controlsy */
.carousel-control {
	left: -12px;
    height: 40px;
	width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 25%;
}
.carousel-control.right {
	right: -12px;
}
/* The indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -10px;
	margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
	background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

/*------------------category-----------------------*/


.category {
  background: #fff;
  padding:15px;
}
#box { 
  background: #fff;
  border: 1px solid #ccc;
}
.cat{
	background:#fff;	
	}
.cat ul {
  margin: 15px 0;
}
.cat ul li {
list-style-image:url(../images/arrow.png);
  padding: 5px;
}
.cat ul li a {
  color: #555;
  font-size: 14px;
  text-decoration:none;
}
.cat ul li a:hover{
	color:#0BABC0;
	}
.facebook {
  margin-top: 26%;
}
.footer{
	width:100%;
	height:auto;
	padding:0;
	margin:0;
	background: -webkit-linear-gradient(#497b06, #3e6905);
  background: -o-linear-gradient(#497b06, #3e6905);
  background: -moz-linear-gradient(#497b06, #3e6905);
  background: linear-gradient(#497b06, #3e6905);
	}
.ftitle {
  color: #fff;
  font-size: 1.5em;
  border-bottom: 1px solid #fff;
  padding: 10px 0px;
  margin: 10px 20px;
}
.flist{}
.flist ul{}
.flist ul li {
  list-style-image: url(../images/arrow2.png);
  padding: 5px 10px;
  font-size: 14px;
}
.flist ul li a{
	color:#000;
	text-decoration:none;
	}
.flist ul li a:hover{
	color:#ccc;
	}
#map {
  float: left;
  margin-right: 12px;
}
#location {
  text-align: center;
  font-size: 14px;
  line-height: 25px;
  padding: 10px 0;
}
#location a{
	color:#000;
	}
#location a:hover{
	color:#fff;
	}
.copyright {
  color: #FFF;
  text-align: center;
  /*padding:2%;*/
 
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 11px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #117ec4;
    color: white;
}

tr:nth-child(even) {background-color: #f2f2f2}
.panel-heading{border-bottom:0px;}
#srchFld {background: url(../img/search.png) no-repeat right center;border-radius: 0;padding: 9px;margin: 0;line-height: 16px;}
#sidebar .bs-docs-sidenav > li > a {border: 0; }
#sidebar ul{margin-top:0px; padding:0}
#sidebar ul li {  border-bottom:1px solid #e5e5e5; }
#sidebar ul li a.dropdown-toggle.collapsed{background-image: url(../images/arrowR.png);background-color:transparent; }
#sidebar ul li a.dropdown-toggle{background-image: url(../images/arrowD.png); background-color:#F8F8F8;}
#sidebar ul li a{background-image: url(../images/arrowR.png); border-radius:0;  padding-left:24px;background-position: 6px center;background-repeat: no-repeat; padding-bottom:12px;}
#sidebar ul ul{ padding:0; margin:0; list-style:none;font-size:12px; background:#F8F8F8; display:none;}
#sidebar ul ul li{padding:0 14px; border-bottom:1px solid #e5e5e5; }
#sidebar ul li li {border-bottom:0; border-top:1px solid #e5e5e5;}
#sidebar ul li li a{padding-top:4px; padding-bottom:4px; display:block;}
#sidebar ul li a.active{font-weight:bold; color:#CF0007;}


#myCarousel .btn{position:absolute; bottom:10%; right:17%; padding:2% 6%; z-index:9999}
#myCarousel .carousel-caption{display:none;}
#myCarousel.homCar .item img{width:100%; max-height:506px}
#productView .btn-toolbar{padding-left:3px;}
#productDetail > li, .nav-pills > li {float: right;}
#myTabContent{text-align:justify}
#compairTbl td{text-align:center;}
#accordion2, #legalNotice, .justify, #mainCol{text-align:justify}
.carousel .item {-webkit-transition: opacity 3s; -moz-transition: opacity 3s; -ms-transition: opacity 3s; -o-transition: opacity 3s; transition: opacity 3s;}
.carousel .active.left {left:0;opacity:0;z-index:2;}
.carousel .next {left:0;opacity:1;z-index:1;}
.navbar-inner {padding-left: 0;padding-right: 0;}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {color: white;background-color: #59900f;text-shadow: none;}
.pull-right{}
.navbar-toggle .icon-bar{background:#404040;}

.main-wrapper-footer {
	background:#035b03;
	width:100%;
	height:auto
	margin:auto;
	padding:0;
	}
	
#socialicons .icon{
	color: MAIN_COLOR;
	border: 1px solid #CFCFCF;
	display: inline-block;
	font-size: 24px;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	vertical-align: middle;
  	margin: 0 1px 8px;
  	-webkit-border-radius: 47px; 
  	-moz-border-radius: 47px; 
  	border-radius: 47px; 
  	background-color: #fff;
}
#socialicons .icon:hover{
	color: HOVER_COLOR;
	border: 1px solid #CFCFCF;
	background-color: #c0c0c0;
}
a{color:#5f9910;}


#sidebar{
background: whitesmoke;
  overflow-y: scroll;
  
  max-width: 600px;
  margin: 0 auto;
  
 
 }
#sidebar::-webkit-scrollbar {
    width: 1em;
}
 
#sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
}
 
#sidebar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}  
  
  

@media screen and (max-width: 480px) {
	#somer{ margin-top:8%;}
	.food{margin-top:20%;}
	.nav-tabs>li>a{padding:5px 20px;}
	.logo{}
	.head p{margin:0px; display:none;}
	.search{float:none!important;}
	.moad p{display:inline-block; color:#fff; position:absolute; top:30px; font-size:25px; margin-left: -30px;}
	.flag img{margin-top:20%;}
  .adz{width: 100%;}
	
	
	
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff;}
	
}

@media screen and (max-width: 700px){
  .adz{width: 100%;}
  .nep{border-right:none;}
}


/* news ticker */

@keyframes ticker {
	0%   {margin-top: 0}
	25%  {margin-top: -30px}
	50%  {margin-top: -60px}
	75%  {margin-top: -90px}
	100% {margin-top: 0}
}


.news {
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
  
  height: 30px;
 
  overflow: hidden;
 
   -webkit-user-select: none
} 

.news span {
  float: left;
  color: #fff;
  padding: 6px;
  position: relative;
  top: 1%;
  border-radius: 4px;
  box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4);
  font: 16px 'Raleway', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer
}

.news ul {
  float: left;
  padding-left: 20px;
  animation: ticker 10s cubic-bezier(1, 0, .5, 0) infinite;
  -webkit-user-select: none
}

.news ul li {line-height: 30px; list-style: none }

.news ul li a {
  color: #fff;
  text-decoration: none;
  font: 14px 'Raleway',Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none
}

.news ul:hover { animation-play-state: paused }
.news span:hover+ul { animation-play-state: paused }

/* OTHER COLORS */
.blue { background: #90be52 }
.blue span { background: #90be52 }
.red { background: #d23435 }
.red span { background: #c22b2c }
.green { background: #699B67 }
.green span { background: #547d52 }
.magenta { background: #b63ace }
.magenta span { background: #842696 }

/* ticker */
.glyphicon
{
    margin-right:4px !important; /*override*/
}

.pagination .glyphicon
{
    margin-right:0px !important; /*override*/
}

.pagination a
{
    color:#555;
}

.panel ul
{
    padding:0px;
    margin:0px;
    list-style:none;
}

.news-item
{
    padding:4px 4px;
    margin:0px;
    border-bottom:1px dotted #555; 
}



.ticker {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  padding:0px;
}

ul.ticker li{
  background-color: #ccc;
  padding-left:2%;
  color:#404040;
  text-align:center;

}

.ticker a:hover,
.ticker li:hover {
  color: #D8D8D8;
}

.ticker a,
.ticker li {
  color: #ffffff;
  font-size: 15px;
  background: #333;
  list-style: none;
}


/*dropdown_submenu*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
	background-color:#ffff;
	color:#000040;
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    background-color:#ffff;
	color:#000040;
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    background-color:#ffff;
	color:#000040;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.previous ul{
  margin: 0; padding: 0;
}
.previous ul li{list-style: none; margin: 1%;}
.previous ul li a{
  padding: 2%;
      font-size: 15px;
    color: white;
}